.container-fluid {
	padding: 0;
}

body {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Catamaran', sans-serif;
	font-size: 16px; 
}

header {
	margin-bottom: 100px;
	/*background: url("projects/coffeecode.jpg") center/cover no-repeat;*/
	height: 500px;
	position: relative;
}

/*NAVIGATION*/
nav {
	text-align: center;
	background: white;
	text-transform: uppercase;
	font-family: 'Advent Pro', sans-serif;
}

.navbar ul {
    position: absolute;
    right: 38%;
}

.navbar a {
	color: #000;
}

.navbar a:hover {
	font-size: 18px;
}

#about {
	position: absolute;
	top: 80%;
	left: 30%;
	transform: translate(-50%, -50%);
	padding-bottom: 150px;
}

#about h1{
	font-size: 50px;
	/*font-family: 'Cookie', cursive;*/
	font-family: 'Advent Pro', sans-serif;
}

#about h3 {
	font-family: 'Advent Pro', sans-serif;
}

/*PROJECTS*/

.images-container {
	width: 90%;
	/*margin: 50px auto;*/
	margin: 10px auto;
	font-family: 'Advent Pro', sans-serif;
}

.images-container > .row > div {
	padding: 20px;
	/*margin: 10px;*/
}

.projects {
	height: 260px;
	width: 100%;
}

.details { /*jQuery function*/
	visibility: hidden;
	color: white;
	padding: 15px;
	padding-top: 20%;
} 

.details .title {
	font-size: 25px;
	text-transform: uppercase;
}

.details .features {
	font-size: 18px;
}

a:hover {
	text-decoration: none;
	text-align: center;
}

#arti {
	background: url("projects/coffeecode.jpg") center/cover no-repeat;
}

#arti:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/coffeecode.jpg") center/cover no-repeat;
}

#surph {
	background: url("projects/surph-index.png") center/cover no-repeat;
}

#surph:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/surph-index.png") center/cover no-repeat;
}

#sdl {
	background: url("projects/sdl-index.png") center/cover no-repeat;
}

#sdl:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/sdl-index.png") center/cover no-repeat;
}

#todo {
	background: url("projects/to-do.png") center/cover no-repeat;
}

#todo:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/to-do.png") center/cover no-repeat;
}

#finalblog {
	background: url("projects/final-blog.png") center/cover no-repeat;
}

#finalblog:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/final-blog.png") center/cover no-repeat;
}

#blog {
	background: url("projects/beginner-blog.png") center/cover no-repeat;
}

#blog:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/beginner-blog.png") center/cover no-repeat;
}

#background {
	height: 500px;
	margin: 50px auto;
}

#background h1 {
	font-family: 'Advent Pro', sans-serif;
	margin: 75px;
}

#background .row {
	text-align: center;
	margin: 0 auto;
}

.bg {
	margin: 20px 0;
}

.bg p {
	padding: 0 60px;
	text-align: justify;
}

.bg img {
	margin: 0 0 10px;
}

.ust {
	margin: 0;
}

.logo-tuitt, .logo-anc {
	height: 50px;
	width: 120px;
}

.logo-fcc {
	height: 50px;
	width: 50px;
}

.logo-ust {
	height: 75px;
	width: 75px;
}

a .logo-tuitt:hover, a .logo-anc:hover, a .logo-fcc:hover, a .logo-ust:hover {
	opacity: 0.5;
}

#contact {
	height: 500px;
	/*font-family: 'Advent Pro', sans-serif;*/
}

#contact h1 {
	font-family: 'Advent Pro', sans-serif;
}

#contact .row {
	margin: 200px 75px;
}

.contact-details {
	font-size: 24px;
	padding: 5px;
}

.links {
	padding: 10px 150px;
}

.links a {
	margin: 10px;
	color: #000;
}

.links a:hover {
	color: grey;
}

footer {
	height: 100px;
}

.footer-text {
	padding: 40px;
	font-size: 24px;
	font-family: 'Cookie', cursive;
}
