body {
	font-family: 'Catamaran', sans-serif;
	font-size: 16px; 
	color: #2A3D45;
	background: #FCF7F8;
}

/*h1, #skills h3, #background h4 {
	color: #7A6C5D;
}*/

/*HEADER*/
header {
	margin-bottom: 100px;
	/*background: url("projects/coffeecode.jpg") center/cover no-repeat;*/
	height: 300px;
}

/*NAVIGATION*/
nav {
	text-align: center;
	background: #C17C74;
	text-transform: uppercase;
	font-family: 'Advent Pro', sans-serif;
}

.navbar ul {
    position: absolute;
    right: 38%;
}

.navbar a {
	color: #000;
}

.navbar a:hover {
	font-size: 18px;
}

#about {
	width: 80%;
	margin: 200px auto 100px;
	/*padding-bottom: 150px;*/
}

#about h1{
	font-size: 50px;
	/*font-family: 'Cookie', cursive;*/
	font-family: 'Advent Pro', sans-serif;
	margin-bottom: 20px;
}

#about h3 {
	font-family: 'Advent Pro', sans-serif;
}

#resume {
	text-align: right;
	/*font-family: 'Cookie', cursive;*/
	font-family: 'Advent Pro', sans-serif;
	font-size: 30px;
	padding: 100px 50px 0 0;
}

#resume a {
	color: #C17C74;
	text-decoration: none;
}

/*PROJECTS*/
.images-container {
	width: 80%;
	/*margin: 50px auto;*/
	margin: 10px auto;
	font-family: 'Advent Pro', sans-serif;
}

.images-container > .row > div {
	padding: 10px;
	/*margin: 10px;*/
}

.projects {
	height: 260px;
	width: 100%;
}

.details { /*jQuery function*/
	visibility: hidden;
	color: white;
	padding: 15px;
	padding-top: 20%;
} 

.details .title {
	font-size: 25px;
	text-transform: uppercase;
}

.details .features {
	font-size: 18px;
}

a:hover {
	text-decoration: none;
	text-align: center;
}

#arti {
	background: url("projects/coffeecode.jpg") center/cover no-repeat;
}

#arti:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/coffeecode.jpg") center/cover no-repeat;
}

#surph {
	background: url("projects/surph-index.png") center/cover no-repeat;
}

#surph:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/surph-index.png") center/cover no-repeat;
}

#sdl {
	background: url("projects/sdl-index.png") center/cover no-repeat;
}

#sdl:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/sdl-index.png") center/cover no-repeat;
}

#todo {
	background: url("projects/to-do.png") center/cover no-repeat;
}

#todo:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/to-do.png") center/cover no-repeat;
}

#finalblog {
	background: url("projects/final-blog.png") center/cover no-repeat;
}

#finalblog:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/final-blog.png") center/cover no-repeat;
}

#blog {
	background: url("projects/beginner-blog.png") center/cover no-repeat;
}

#blog:hover {
	background: 
    	linear-gradient(
      	rgba(0,0,0, 0.45),
      	rgba(0,0,0, 0.45)
     	),
    	url("projects/beginner-blog.png") center/cover no-repeat;
}

/*BAKCGROUND AND EDUCATION*/
#background {
	height: 500px;
	margin: 50px auto;
	width: 92%;
}

#background h1 {
	font-family: 'Advent Pro', sans-serif;
	margin: 50px;
}

#background .row {
	text-align: center;
	margin: 0 auto;
}

.bg {
	margin: 20px 0;
}

.bg p {
	padding: 0 40px;
	text-align: justify;
}

.bg img {
	margin: 0 0 10px;
}

.ust {
	margin: 0;
}

.logo-tuitt, .logo-anc {
	height: 50px;
	width: 120px;
}

.logo-fcc {
	height: 50px;
	width: 50px;
}

.logo-ust {
	height: 75px;
	width: 75px;
}

a .logo-tuitt:hover, a .logo-anc:hover, a .logo-fcc:hover, a .logo-ust:hover {
	opacity: 0.5;
}

/*CONTACT*/
#contact {
	height: 500px;
	/*font-family: 'Advent Pro', sans-serif;*/
}

#contact h1 {
	font-family: 'Advent Pro', sans-serif;
	margin-bottom: 20px;
}

#contact .row {
	margin: 200px 115px;
}

.contact-details {
	font-size: 24px;
	padding: 5px;
}

.links {
	padding: 10px 10px 0 170px;
}

.links a {
	margin: 10px;
	color: #2A3D45;
}

.links a:hover {
	color: #C17C74;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

/*FOOTER*/
footer {
	height: 100px;
	background: #C17C74;
}

.footer-text {
	padding: 40px;
	font-size: 24px;
	font-family: 'Cookie', cursive;
}

/*RESPONSIVENESS*/

@media screen and (max-width: 768px) {

	h1 {
		text-align: center;
	}

	header {
		margin-bottom: 20px;
		height: 500px;

	}

	#about {
		padding: 100px 0 20px;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	#resume {
		text-align: center;
		font-size: 30px;
		padding: 10px 10px 50px;
	}

	.images-container {	
		width: 100%;
	}

	#background {
		margin-top: 0;
	}

	#background h1 {
		margin: 50px;
	}

	.bg p {
		padding: 0;
	}

	#contact {
		height: 300px;
		margin: 50px 0;
		text-align: center;
	}

	#contact .row {
		margin: 0;
	}

	.links {
		padding: 10px 0;
		text-align: center;
	}

}

@media screen and (min-width: 769px) and (max-width: 992px) {

	.container {

	padding: 0;
	}

	#about {
		padding-left: 50px;
		margin: 100px auto 100px;
	}

	.images-container {
		width: 100%;
	}

	#background {
		width: 100%;
		padding: 0;
	}

	.tuitt, .anc {
		padding-left: 0;
	}

	.freecodecamp, .ust {
		padding-right: 0;
	}

	#background h1 {
		margin: 0 30px 30px;
	}

	.bg p {
		padding: 0 10px;
	}

	#contact {
		height: 300px;
		margin: 50px auto;
		/*padding-left: 150px;*/
		width: 75%;
	}

	#contact .row {
		margin: 0; 
	}

	.links {
		padding: 10px 0;
	}

}

@media screen and (min-width: 993px) and (max-width: 1199px) {

	#background h1 {
		margin: 0 0 30px 30px;
	}

	.bg p {
		padding: 0 20px;
	}

	#contact {
		height: 300px;
		width: 90%;
		padding-left: 25px;
	}

	#contact .row {
		margin: 0 50px;
	}

	.links {
		padding: 10px 10px 0 100px;
	}

}
